---
import {getCollection, getEntry} from 'astro:content';

const allBlogPosts = await getCollection('blog');
const pageTitle = "Потык Статьи";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{pageTitle}</title>

</head>
<body>
<h1>{pageTitle}</h1>

<ul>
    {allBlogPosts.map(post => (
            <pre><code>{JSON.stringify(post, null, 2)}</code></pre>

            <li>
                <a href={`/potyk-articles/posts/${post.slug}`}>{post.data.title}</a>
            </li>
    ))}
</ul>
</body>
</html>